#section1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    min-height: 200px;
    width: 100%;
}
#section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    color: white;
    min-height: 200px;
    width: 100%;
}
#section3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    color: black;
    min-height: 200px;
    width: 100%;
}

.hidden{
    display: none;
}